* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image-container {
  width: 400px;
  height: 540px;
}
#slider {
  margin: 20px;
}
#image {
  height: 100%;
  width: 100%;
  display: block;
  max-width: 100%;
}